<link rel="stylesheet" href="~/css/authenticated.css" />

<aside class="container">
    <div class="jumbotron">
        <h1 class="display-4">Este é seu painel administrativo</h1>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" role="button" asp-action="Authenticated" asp-controller="Login">Voltar</a>
            <a class="btn btn-outline-danger btn-lg" role="button" asp-action="Login" asp-controller="Login">Sair</a>
        </p>
    </div>
</aside>

