@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/card-login.css" />

<div class="login-container">
    <div class="glass-login">
        <div class="container">
            <form class="col-sm-10">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="mb-3">Nome</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu nome">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="mb-3">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha">
                </div>
                <div class="text-center ml-3">
                    <button type="submit" class="col-lg-7 btn btn-success mt-5 btn-login">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>



